.button {
  -fx-background-color: #037F97;
  -fx-text-fill: #FFFFFF;
  -fx-font-size: 16;
  -fx-border: none;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.2, 0, 5);
	-fx-border-radius: 1;
  -fx-background-radius: 2;
}

.button:hover {
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 15, 0.2, 0, 5);
}

.button:pressed {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0.05, 0, 3);
	-fx-background-color: #196674;
}

.button-rounded {
  -fx-background-radius: 8;
}

.button-circular {
  -fx-background-radius: 50 50 50 50;
  -fx-font-size: 24;
}

.button-cancel {
  -fx-background-color: #767676;
}

.button-cancel:pressed {
  -fx-background-color: #333333;
}