* {
	-fx-font-family: sans-serif;
}

.text {
    -fx-font-smoothing-type: gray;
}

.background-blue {
    -fx-background-color: #4DA4C1;
}

.background-white {
    -fx-background-color: #FFFFFF;
}

.round {

}

.card-pane {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0.1, 0, 5);
}

.card-transparent {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.2, 0, 5);
    -fx-background-color: transparent;
}

.card-inactive {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.2, 0, 5);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.card {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.2, 0, 5);
	-fx-border-radius: 5;
  	-fx-background-radius: 5;
}

.card:hover {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0.2, 0, 5);
}

.card:pressed {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0.05, 0, 3);
	-fx-background-color: #FCFCFC;
}

.combobox-rounded {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, white;
}

.textfield-rounded {
	-fx-border-radius: 5;
	-fx-background-radius: 5;
}

.label-exit {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0.2, 0, 0);
}

.label-exit:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 15, 0.2, 0, 0);
}

.label-exit:pressed {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 5, 0.05, 0, 0);
}